<?xml version="1.0"?>
<launch>
  <arg name="launch_all" default="false" />
  <arg name="all_robots" default="false" />
  <arg unless="$(arg all_robots)" name="robot" default="iiwa_2" />

  <!--  This loads the robot description  -->
  <include if="$(arg launch_all)" file="$(find rll_two_iiwas_moveit)/launch/planning_main.launch">
    <arg name="sim" value="false"/>
  </include>

  <group if="$(arg all_robots)">
    <node ns="iiwa_1" name="move_iface" pkg="rll_move_real" type="move_iface" respawn="false" output="screen">
    </node>

    <node ns="iiwa_2" name="move_iface" pkg="rll_move_real" type="move_iface" respawn="false" output="screen">
    </node>
  </group>

  <node unless="$(arg all_robots)" ns="$(arg robot)" name="move_iface" pkg="rll_move_real" type="move_iface" respawn="false" output="screen">
  </node>

</launch>
