<?xml version="1.0"?>
<launch>
  <arg name="all_robots" default="false" />
  <arg unless="$(arg all_robots)" name="robot" default="iiwa_2" />


  <group if="$(arg all_robots)">
    <node ns="iiwa_1" name="move_iface" pkg="rll_move_real" type="move_iface_full" respawn="false" output="screen"/>
    <node ns="iiwa_2" name="move_iface" pkg="rll_move_real" type="move_iface_full" respawn="false" output="screen"/>
  </group>

  <node unless="$(arg all_robots)" ns="$(arg robot)" name="move_iface" pkg="rll_move_real" type="move_iface_full" respawn="false" output="screen"/>

</launch>
