<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa7">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the iiwa7 macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  <!--Import the schunk gripper egl90  -->
  <xacro:include filename="$(find schunk_gripper_egl90)/urdf/egl90_macro.xacro"/>



  <!--  Arguments for the iiwa7 macro  -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>

  <material name="steel">
    <color rgba="0.8784 0.8745 0.8588 1.0"/>
  </material>
  <material name="transparent">
    <color rgba="0.8784 0.8745 0.8588 0.3"/>
  </material>

  <!--  Define the origin of your 3D space
  Here we define a box lying at 0,0,0 with some dimensions. In reality, our robot is placed on top of a steel table.
  This will include the table top in the scene and avoid the robot to hit it when using MoveIt!
  -->

  <link name="world">
    <visual>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 1.6 0.2"/>
      </geometry>
      <material name="steel" />
    </visual>
    <collision>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 1.6 0.49"/>
      </geometry>
      <material name="steel" />
    </collision>
  </link>

  <!-- virtual walls
  Every wall is a link which does not collide with a different wall or the collision link of the steel plate -->
  
  <joint name="wall_joint1" type="fixed">
    <parent link="world" />
    <child link="wall_front" />
    <origin xyz="0.605 0 0.7" rpy="0 0 0"/>
  </joint>
  <joint name="wall_joint2" type="fixed">
    <parent link="world" />
    <child link="wall_back" />
    <origin xyz="-0.605 0 0.7" rpy="0 0 0"/>
  </joint>
  <joint name="wall_joint3" type="fixed">
    <parent link="world" />
    <child link="wall_left" />
    <origin xyz="0 -0.805 0.7" rpy="0 0 0"/>
  </joint>
  <joint name="wall_joint4" type="fixed">
    <parent link="world" />
    <child link="wall_right" />
    <origin xyz="0 0.805 0.7" rpy="0 0 0"/>
  </joint>

  <link name="wall_front">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 1.599 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 1.599 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </collision>
  </link>
  <link name="wall_back">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 1.599 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 1.599 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </collision>
  </link>
  <link name="wall_left">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.199 0.01 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.199 0.01 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </collision>
  </link>
  <link name="wall_right">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.199 0.01 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.199 0.01 1.1" rpy="0 0 0"/>
      </geometry>
      <material name="transparent" />
    </collision>
  </link>

  <gazebo reference="world">
    <static>true</static>
  </gazebo>
  <gazebo reference="wall_front">
    <static>true</static>
  </gazebo>
  <gazebo reference="wall_back">
    <static>true</static>
  </gazebo>
  <gazebo reference="wall_left">
    <static>true</static>
  </gazebo>
  <gazebo reference="wall_right">
    <static>true</static>
  </gazebo>

  <!-- Here we insert an iiwa7 robot in the scene, it's origin is just on top of the box previously defined. -->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:iiwa7>


  <!-- Here we insert a schunk gripper in the scene -->

   <xacro:egl90 parent="$(arg robot_name)_link_ee" prefix="$(arg robot_name)_">
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
   </xacro:egl90>
   <xacro:egl90-jaws prefix="$(arg robot_name)_" x="0.0" min="-0.015" max="0.026">
     <mesh filename="package://schunk_gripper_egl90/meshes/finger.stl"/>
   </xacro:egl90-jaws>

</robot>
