<?xml version="1.0"?>
<launch>
  <arg name="robot" default="iiwa" />
  <arg name="project" default="greetings" />
  <arg name="production" default="false" />
  <!-- if enabled, "Enter" has to be pressed every time to confirm the next job run -->
  <arg name="manual" default="false" />
  <!-- running in simulation or with the real hardware -->
  <arg name="mode" default="sim" />
  <!-- set to false if mode is "real" and no previous check in simulation is needed -->
  <arg name="sim_check" default="true" />

  <node ns="$(arg robot)" name="rll_worker" pkg="rll_worker" type="worker.py" output="screen">
    <param name="project" value="$(arg project)"/>
    <param name="production" value="$(arg production)"/>
    <param name="manual" value="$(arg manual)"/>
    <param name="mode" value="$(arg mode)"/>
    <param name="sim_check" value="$(arg sim_check)"/>
  </node>

</launch>
