<?xml version="1.0"?>
<launch>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="rviz" default="false" />

    <!-- Load robot 1 -->
    <include file="$(find rll_two_iiwas_moveit)/launch/moveit_planning_execution_single.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="robot_name" value="iiwa_1"/>
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="fri_port" value="30200" />
        <arg name="can_iface" value="can0" />
    </include>

    <!-- Load robot 2 -->
    <include file="$(find rll_two_iiwas_moveit)/launch/moveit_planning_execution_single.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="robot_name" value="iiwa_2"/>
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="fri_port" value="30201" />
        <arg name="can_iface" value="can1" />
    </include>


</launch>
