<?xml version="1.0"?>
<launch>
    <!-- The planning and execution components of MoveIt! configured to run -->
    <!-- using the ROS-Industrial interface. -->

    <!-- |              PARAMETERS              | -->
    <!-- hardware_interface to use : PositionJointInterface, EffortJointInterface, VelocityJointInterface. -->
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <!-- The is gonna have its nodes/topics under a namespace with the same name. -->
    <arg name="robot_name" default="iiwa_1"/>
    <arg name="fri_port" default="30200" />
    <arg name="rviz" default="true" />
    <arg name="can_iface" default="can0" />

    <group ns="$(arg robot_name)">
        <remap from="/$(arg hardware_interface)_trajectory_controller/follow_joint_trajectory"
               to="/$(arg robot_name)/$(arg hardware_interface)_trajectory_controller/follow_joint_trajectory" />
        <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
        <remap from="/get_planning_scene" to="/$(arg robot_name)/get_planning_scene" />

        <!-- Load controllers accordingly to parameters -->
        <include file="$(find rll_two_iiwas_control)/launch/rll_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="joint_state_controller $(arg hardware_interface)_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <!-- Robot interface -->
        <include file="$(find rll_two_iiwas_hw)/launch/rll_hw.launch" >
            <arg name="fri_port" value="$(arg fri_port)" />
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <include file="$(find rll_two_iiwas_moveit)/launch/move_group.launch">
            <arg name="publish_monitored_planning_scene" value="true" />
            <arg name="hardware_interface" value="$(arg hardware_interface)"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
        </include>

        <include if="$(arg rviz)" file="$(find rll_two_iiwas_moveit)/launch/moveit_rviz.launch">
            <arg name="config" value="true"/>
        </include>

        <!-- gripper setup -->
        <node name="gripper_egl_90" pkg="schunk_gripper_egl90" type="schunk_gripper_egl90_node" output="screen">
            <param name="can_iface" value="$(arg can_iface)"/>
        </node>

    </group>

</launch>
